.hoverableButton:hover {
  -fx-cursor: hand;
}

.vertical_resize:hover{
	-fx-cursor: v-resize
}

.horizontal_resize:hover{
	-fx-cursor: h-resize
}

.table-row-cell {
    -fx-padding: 0px;
    -fx-border-width: 0px;
    -fx-border-style: none;
}

.table-cell{
	-fx-padding: 0px;
	-fx-border-width: 0px;
	-fx-border-style: none;
}

.logfileview:focused{
	-fx-padding: 0px;
}

.logfileview{
	-fx-padding: 0px;
}

.progress-bar > .bar {
     -fx-background-color:ladder(
        -fx-base,
        black 49%,
        #D3D3D3 50%
     );
}

.tree-view .tree-cell{
	-fx-text-fill: -fx-jlogg-text-fill-color;
}

.tree-view .tree-cell:focused{
	-fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background: -fx-accent;
	-fx-text-fill: white;
}

.tree-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;

    /* There is some oddness if padding is in em values rather than pixels,
       in particular, the left border of the control doesn't show. */
    -fx-padding: 1; /* 0.083333em; */
}