.hoverableButton:hover {
  -fx-cursor: hand;
}

.resize:hover{
	-fx-cursor: v-resize
}

.table-row-cell {
    -fx-padding: 0px;
    -fx-border-width: 0px;
    -fx-border-style: none;
}

.table-cell{
	-fx-padding: 0px;
	-fx-border-width: 0px;
	-fx-border-style: none;
}

.logfileview:focused{
	-fx-padding: 0px;
}

.logfileview{
	-fx-padding: 0px;
}

.progress-bar > .bar {
     -fx-background-color:ladder(
        -fx-base,
        black 49%,
        #D3D3D3 50%
     );
}